@model IEnumerable<EveryBook.Models.Genre>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ExtendUser> SignInManager
@inject UserManager<ExtendUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">Genres</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @if (SignInManager.IsSignedIn(User) && UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Admin").Result)
        {
            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                    <a class="btn btn-outline-primary" aria-current="page" asp-action="Create">Create New</a>
                </div>
            </div>
        }
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="text" id="genreName" name="genreName" placeholder="Genre Name">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

</nav>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            @if (SignInManager.IsSignedIn(User) && UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Admin").Result)
            {
                <th scope="col" style="text-align:center;">Actions</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (!(item.IsDeleted))
            {
                <tr>
                    <td>@item.Name</td>
                    <td style="text-align:center;">
                        @if (SignInManager.IsSignedIn(User) && UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Admin").Result)
                        {
                            <form id="delete-type-@item.Id" method="post" asp-action="Delete">
                                <a class="btn btn-primary" style="padding: 1px 10px;" asp-action="Edit" asp-route-id="@item.Id"> Edit </a>
                                <input type="hidden" value="@item.Id" />
                                <a class="btn btn-danger" style="padding: 1px 10px;" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </form>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>