@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a class="twitter-timeline" href="https://twitter.com/twitterbooks" data-widget-id="234324234234234" data-screen-name="cshtml" width="350" height="666" data-chrome="noborders"></a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
