<link rel="stylesheet" href="~/css/Statistics/statistics.css" />

<div class="row">
    <div class="col-lg-6">
        <div class="chart-box chart-background" id="pie_chart" style="background-color: white; box-shadow: 0px 0px 4px -1px;">
            <span style="position: relative; top: 8px; font-weight:bold;">Most Purchased Book</span>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="chart-box chart-background" id="bar_chart" style="background-color: white; box-shadow: 0px 0px 4px -1px;">
            <span style="font-weight: bold; position: relative; top: 8px;">Books By Genre</span>
        </div>
    </div>
    <div class="offset-lg-3 col-lg-6" style="margin-top: 10px;">
        <div class="chart-box chart-background" id="bugs_pie_chart" style="background-color: white; box-shadow: 0px 0px 4px -1px;">
            <span style="font-weight: bold; position: relative; top: 8px;">Bugs Done vs Pending</span>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="~/js/Statistics/pie.js"></script>
<script src="~/js/Statistics/bar.js"></script>
<script src="~/js/Statistics/bugsPie.js"></script>