@model EveryBook.Models.DistributionUnit

@{
    ViewData["Title"] = "Details";
}

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Brunch- Details</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <div class="navbar-nav">
                <a class="nav-link" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                <a class="nav-link" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</nav>
<hr />

<div class="col-md-6">
    <table class="table table-hover">
        <tbody>
            <tr>
                <td>Name</td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>Location</td>
                <td>@Model.Location.Address</td>
            </tr>
        </tbody>
    </table>
</div>
