@model IEnumerable<EveryBook.Models.DistributionUnit>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col" style="text-align:center;">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>item.Name</td>
                <td>item.Location.Address</td>
                <th scope="row">
                    <form style="text-align: center;">
                        <a class="btn btn-primary" style="padding: 1px 10px;" asp-action="Edit" asp-route-id="@item.Id"> Edit </a>
                        <a class="btn btn-primary" style="padding: 1px 10px;" asp-action="Details" asp-route-id="@item.Id"> Details </a>
                        <a class="btn btn-primary" style="padding: 1px 10px;" asp-action="Delete" asp-route-id="@item.Id"> Delete </a>
                    </form>
                </th>
                <td style="text-align:center;">
                </td>
            </tr>
        }
    </tbody>
</table>