@model EveryBook.Models.Report

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Report</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span asp-validation-for="CreateTime" class="text-danger"></span>
                <label asp-for="CreateTime" class="control-label"></label>
                <input asp-for="CreateTime" class="form-control" />
            </div>
            <div class="form-group">
                <span asp-validation-for="StartPeriod" class="text-danger"></span>
                <label asp-for="StartPeriod" class="control-label"></label>
                <input asp-for="StartPeriod" class="form-control" />
            </div>
            <div class="form-group">
                <span asp-validation-for="EndPeriod" class="text-danger"></span>
                <label asp-for="EndPeriod" class="control-label"></label>
                <input asp-for="EndPeriod" class="form-control" />
            </div>
            <div class="form-group">
                <span asp-validation-for="Total" class="text-danger"></span>
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
